@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Knewave&family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman', Times, serif;
}


/***********************************************************/

.front_container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.front_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 0;
    /
}

.front_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    pointer-events: none;
}

.school_location {
    z-index: 2;
    /* background-color: rgb(169, 2, 2); */
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.school_location span {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.58);
    font-family: "Afacad Flux", sans-serif;
}


/* ********************************************************** */

.nav_bar {
    position: fixed;
    z-index: 3;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #272a2d;
}

.nav_bar .school_logo {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    background-color: #ff7e5f;
    top: 10px;
    background-color: #f3f3f3;
}

.nav_bar .school_logo img {
    position: absolute;
    width: 50px;
}

.nav_bar ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nav_bar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 35px;
    position: relative;
}

.nav_bar ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.nav_bar ul li a:hover {
    color: cornflowerblue;
}

.nav_bar .sign_up {
    position: absolute;
    top: 18px;
    right: 50px;
}

.nav_bar .sign_up button {
    padding: 3px 15px;
    font-size: 18px;
    color: white;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.front_title {
    z-index: 2;
    width: 50%;
    height: 40%;
    /* background-color: black;
    color: rgb(169, 27, 27); */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.title_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_content h2 {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}


/* POP UP LOGIN */

.login_popup {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
}

.back_login {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
}

.login_container {
    width: 320px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    z-index: 3;
}

.login_container h3 {
    font-family: "Afacad Flux", sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 600;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.login_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: #ff7e5f; */
}

.input_field {
    margin-top: 12px;
    width: 250px;
}

.input_field label {
    font-size: 18px;
    font-family: "Afacad Flux", sans-serif;
    color: black;
}

.input_field input {
    margin-top: 5px;
    width: 250px;
    height: 38px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-family: "Afacad Flux", sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), inset rgb(204, 204, 204) 0px 0px 60px -12px;
}

.input_forget a {
    width: 90%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    /* background-color: #ff7e5f; */
}

.input_create_account {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_create_account p {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 400;
}

.input_create_account .create_account {
    color: blue;
    text-decoration: underline;
}

.input_create_account .create_account:hover {
    color: #6e6e6e;
}

.input_btn {
    width: 100%;
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: center;
}

.input_btn a {
    text-decoration: none;
}

.input_btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 250px;
    height: 38px;
    border-radius: 3px;
    font-size: 18px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-family: "Afacad Flux", sans-serif;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.input_btn a:hover {
    background-color: rgb(214, 214, 209);
}


/* END POP UP LOGIN   */


/* POP UP REGISTER  */

.register_popup {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
}

.back_register {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
}

.register_form {
    z-index: 3;
    width: 35%;
    height: auto;
    max-height: 96vh;
    overflow-y: auto;
    background-color: white;
    padding: 10px 20px;
    margin-top: 20px;
}

.register_form h3 {
    font-family: "Afacad Flux", sans-serif;
    font-size: 18px;
}

.register_form form {
    margin-top: 10px;
}


/* GENDER CSS */

.register_field {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    /* background-color: #ff7e5f; */
}

.info_container {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    /* background-color: #feb47b; */
}

.info_container .register_info {
    width: 200px;
    height: 80px;
    /* background-color: blueviolet; */
    font-family: "Afacad Flux", sans-serif;
    color: black;
    font-weight: 600;
}

.info_label label {
    margin-left: 30px;
    font-size: 15px;
}

.register_field .info_container label {
    font-family: "Afacad Flux", sans-serif;
    color: black;
    font-weight: 600;
}


/* END GENDER CSS */


/* ****ADDRESS**** */

.register_address {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: blue; */
}

.register_address .register_place {
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    /* background-color: aqua; */
}

.register_address .register_place label {
    font-family: "Afacad Flux", sans-serif;
    color: black;
    font-weight: 600;
}

.register_address .register_place input {
    height: 38px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-family: "Afacad Flux", sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), inset rgb(204, 204, 204) 0px 0px 60px -12px;
}

.register_address .register_place select {
    width: 100%;
    height: 38px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-family: "Afacad Flux", sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), inset rgb(204, 204, 204) 0px 0px 60px -12px;
}

.register_address .register_place select option {
    width: 100%;
    height: 38px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-family: "Afacad Flux", sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), inset rgb(204, 204, 204) 0px 0px 60px -12px;
}

.register_field .register_input {
    width: 100%;
    /* background-color: aqua; */
    margin-top: 10px;
}

.register_field .register_input label {
    font-family: "Afacad Flux", sans-serif;
    color: black;
    font-weight: 600;
}

.register_field .register_input input {
    width: 220px;
    height: 38px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-family: "Afacad Flux", sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), inset rgb(204, 204, 204) 0px 0px 60px -12px;
}


/* REGISTER BUTTON */

.register_btn {
    width: 100%;
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: center;
}

.register_btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 38px;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    background-color: rgb(4, 209, 4);
    font-family: "Afacad Flux", sans-serif;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.register_btn a:hover {
    background-color: rgb(214, 214, 209);
}


/* Second Container */

.second_container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second_container h3 {
    margin-top: 30px;
    font-family: "Afacad Flux", "sans-serif";
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 2px;
}

.second_container span {
    font-family: "Afacad Flux", "sans-serif";
    font-size: 20px;
    font-weight: bold;
    color: #ff7e5f;
}

.rosales_container {
    width: 80%;
    height: auto;
    /* background-color: #ff7e5f; */
}

.rosales {
    width: 100%;
    height: auto;
    position: relative;
}

.rosales h3 {
    top: 10px;
    left: 20px;
    font-size: 30px;
    font-family: "Afacad Flux", "sans-serif";
}

.rosales p {
    margin-top: 20px;
    font-family: "Afacad Flux", "sans-serif";
    font-size: 20px;
    color: #000;
    z-index: 2;
    width: 100%;
    font-family: "Afacad Flux", sans-serif;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    height: auto;
    width: 100%;
    margin-top: 90px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

footer .contact_us {
    width: 50%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .contact_us p {
    color: white;
    font-family: "Afacad Flux", sans-serif;
    font-size: 18px;
}

footer .contact_footer {
    width: 50%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .contact_footer p {
    color: white;
    text-decoration: underline;
    font-family: "Afacad Flux", sans-serif;
    font-size: 18px;
}