@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Knewave&family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman', Times, serif;
}


/***********************************************************/

.front_container {
    position: relative;
    /* Create a positioning context for the pseudo-element */
    width: 100%;
    height: 100vh;
    /* Adjust the height as needed */
    overflow: hidden;
    /* Ensure the image stays within the container */
}

.front_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 0;
}

.front_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    pointer-events: none;
}


/* ********************************************************** */

.nav_bar {
    position: fixed;
    z-index: 3;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #272a2d;
}

.nav_bar .school_logo {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    background-color: #ff7e5f;
    top: 10px;
    background-color: #f3f3f3;
}

.nav_bar .school_logo img {
    position: absolute;
    width: 50px;
}

.nav_bar ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nav_bar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 35px;
    position: relative;
}

.nav_bar ul li a {
    text-decoration: none;
    color: white;
    font-family: "Afacad Flux", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.nav_bar ul li a:hover {
    color: cornflowerblue;
}

.nav_bar .sign_up {
    position: absolute;
    top: 18px;
    right: 50px;
}

.nav_bar .sign_up button {
    padding: 3px 15px;
    font-size: 18px;
    color: white;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.school_location {
    z-index: 2;
    /* background-color: rgb(169, 2, 2); */
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.school_location span {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.58);
    font-family: "Afacad Flux", sans-serif;
}

.front_title {
    z-index: 2;
    width: 50%;
    height: 40%;
    /* background-color: black;
    color: rgb(169, 27, 27); */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.title_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_content h2 {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.btn_register {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.btn_register button a {
    text-decoration: none;
    color: black;
}

.btn_register button i {
    margin-left: 15px;
}

.btn_register button {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    color: white;
    font-family: "Afacad Flux", sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}


/* POP UP LOGIN */

.login_popup {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
}

.back_login {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
}

.login_container {
    width: 550px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    z-index: 3;
}

.login_container h3 {
    font-family: "Afacad Flux", sans-serif;
    font-size: 24px;
    color: black;
    font-weight: 600;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.login_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: #ff7e5f; */
}

.input_field {
    margin-top: 12px;
    width: 250px;
}

.input_field label {
    font-size: 18px;
    font-family: "Afacad Flux", sans-serif;
    color: black;
}

.input_field input {
    margin-top: 5px;
    width: 250px;
    height: 38px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-family: "Afacad Flux", sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), inset rgb(204, 204, 204) 0px 0px 60px -12px;
}

.input_forget a {
    width: 90%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    /* background-color: #ff7e5f; */
}

.input_btn {
    width: 100%;
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: center;
}

.input_btn input {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 250px;
    height: 38px;
    border-radius: 3px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-family: "Afacad Flux", sans-serif;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.input_btn input:hover {
    background-color: rgb(214, 214, 209);
}

.login_container .header {
    background-color: #d9534f;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
    font-weight: bold;
}

.login_container .message {
    padding: 20px;
    font-size: 16px;
}

.buttons {
    display: flex;
    padding: 10px;
    gap: 20px;
}

.btn {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.cancel {
    background-color: #ccc;
    font-family: "Afacad Flux", sans-serif;
    color: black;
}

.yes {
    background-color: #d9534f;
    font-family: "Afacad Flux", sans-serif;
    color: white;
}

.cancel:hover {
    background-color: #6e6e6e;
}

.yes:hover {
    background-color: #6e6e6e;
}


/* END POP UP LOGIN   */


/* Second Container */

.second_container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second_container h3 {
    margin-top: 30px;
    font-family: "Afacad Flux", "sans-serif";
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 2px;
}

.second_container h4 {
    margin-top: 40px;
    font-family: "Afacad Flux", "sans-serif";
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 2px;
}

.rosales_container {
    width: 80%;
    height: 60%;
    /* background-color: #ff7e5f; */
}

.rosales {
    width: 100%;
    height: auto;
    /* background: rgba(0, 0, 0, 1); */
    /* Semi-transparent black */
    position: relative;
}

.rosales h3 {
    top: 10px;
    left: 20px;
    font-size: 30px;
    font-family: "Afacad Flux", "sans-serif";
}

.rosales p {
    margin-top: 20px;
    font-family: "Afacad Flux", "sans-serif";
    font-size: 22px;
    color: #000;
    z-index: 2;
    width: 100%;
    font-family: "Afacad Flux", sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rosales_objective {
    margin-top: 10px;
    width: 100%;
    height: auto;
    /* background-color: blue; */
    position: relative;
    text-align: center;
}

.rosales_objective h3 {
    top: 10px;
    left: 20px;
    font-size: 30px;
    font-family: "Afacad Flux", "sans-serif";
}

.rosales_objective p {
    font-family: "Afacad Flux", "sans-serif";
    font-size: 22px;
    color: #000;
    z-index: 2;
    width: 100%;
    font-family: "Afacad Flux", sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
}

.strand_container {
    /* background-color: aquamarine; */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.strand_container .strand_category {
    width: 80%;
    height: auto;
    /* background-color: #ff7e5f; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.strand_container .strand_category .strand_content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border: 2px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.strand_content .strand_logo {
    width: 40%;
    /* background-color: #da5fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.strand_content .strand_logo img {
    width: 200px;
    height: 200px;
}


/* STRAN DETAIL EVEN */

.strand_content .strand_detail_even {
    width: 60%;
    /* background-color: #3820ad; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}

.strand_detail_even h3 {
    font-size: 28px;
    font-family: "Afacad Flux", "sans-serif";
}

.strand_detail_even p {
    margin-top: 10px;
    font-family: "Afacad Flux", "sans-serif";
    font-size: 22px;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* STRAN DETAIL ADD*/

.strand_content .strand_detail_add {
    width: 60%;
    /* background-color: #3820ad; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
}

.strand_detail_add h3 {
    font-size: 28px;
    font-family: "Afacad Flux", "sans-serif";
}

.strand_detail_add p {
    margin-top: 10px;
    font-family: "Afacad Flux", "sans-serif";
    font-size: 22px;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sector_facility {
    text-align: center;
    margin-top: 30px;
    font-family: "Afacad Flux", "sans-serif";
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 2px;
}

.facility {
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.laboratory {
    width: 350px;
    height: 450px;
    /* background-color: white; */
}

.laboratory .facility_img {
    height: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

.laboratory .facility_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.facility_detail {
    height: 250px;
    padding: 10px;
    background-color: aliceblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.facility_detail h3 {
    font-size: 20px;
    font-family: "Afacad Flux", "sans-serif";
}

.facility_detail p {
    font-family: "Afacad Flux", "sans-serif";
    width: 320px;
    font-family: "Afacad Flux", sans-serif;
    /* background-color: rgb(80, 205, 31); */
    overflow: hidden;
    text-overflow: ellipsis;
}

.third_container {
    height: auto;
}

.third_container h3 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: "Afacad Flux", "sans-serif";
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 2px;
}

.adventure_detail {
    margin-top: 50px;
    height: 130vh;
    display: flex;
    justify-content: center;
}

.adventure_logo {
    width: 45%;
    height: 300px;
}

.adventure_logo img {
    width: 100%;
    background-position: center;
    background-size: cover;
}

.hilltop_adventure {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.adventure_time {
    width: 100%;
    height: 50%;
    padding: 20px;
}

.adventure_time h3 {
    font-family: "Afacad Flux", "sans-serif";
    font-weight: 700;
    font-size: 25px;
}

.adventure_time p {
    font-family: "Afacad Flux", "sans-serif";
    font-weight: 400;
    font-size: 25px;
}

.adventure_video {
    width: 100%;
    height: 50%;
    padding: 30px;
}

.adventure_video h4 {
    font-family: "Afacad Flux", "sans-serif";
    font-weight: 700;
    font-size: 25px;
}

.video {
    margin-top: 30px;
    width: 580px;
    height: 335px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: auto;
    width: 100%;
    margin-top: 90px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

footer .contact_us {
    width: 50%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .contact_us p {
    color: white;
    font-family: "Afacad Flux", sans-serif;
    font-size: 18px;
}

footer .contact_footer {
    width: 50%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .contact_footer p {
    color: white;
    text-decoration: underline;
    font-family: "Afacad Flux", sans-serif;
    font-size: 18px;
}